/*Variables*/
:root {
    --main-color-blue: #2C79CA;
}

/*Fonts*/
@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy-Bold'),
    url('font/Gilroy-Bold.eot') format('eot'),
    url('font/Gilroy-Bold.woff') format('woff'),
    url('font/Gilroy-Bold.ttf') format('ttf');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy-Medium'),
    url('font/Gilroy-Medium.eot') format('eot'),
    url('font/Gilroy-Medium.woff') format('woff'),
    url('font/Gilroy-Medium.ttf') format('ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy-Light'),
    url('font/Gilroy-Light.eot') format('eot'),
    url('font/Gilroy-Light.woff') format('woff'),
    url('font/Gilroy-Light.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
}


/*Tags*/
html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 100%;
    overflow: hidden scroll !important;
}

header {
    position: fixed;
    z-index: 1;
}

main {
    height: 100vh;
}

a, a:hover {
    text-decoration: none !important;
}

h1 {
    font-family: Gilroy, sans-serif !important;
    font-weight: 900 !important;
    /*font-size: 8vmin !important;*/
    font-size: 3.7vmax !important;
}

h2 {
    font-size: 2vmax !important;
}

p {
    font-size: 1.5vmax !important;
}

/*Id elements*/
#introduction {
    background: url('https://drive.google.com/uc?export=download&id=1jN1lHPXe1wm6uwwT7q2UIHork9eAz64p') no-repeat left top / cover;
    height: 100%;
}

#introduction_rev {
    background: url('https://drive.google.com/uc?export=download&id=14NhkF-jGVrGAAAfPtUuWhkLbuTRfv-ks') no-repeat 63% top / cover;
    height: 100%;
}

#slogan {
    font-family: Gilroy, sans-serif;
    font-weight: 400;
    font-size: 2.1vmax;
    color: #FFFFFF;
    text-shadow: 2px 2px 0 #0F4C75,
                 2px -2px 0 #0F4C75,
                 -2px 2px 0 #0F4C75,
                 -2px -2px 0 #0F4C75,
                 2px 0 0 #0F4C75,
                 0 2px 0 #0F4C75,
                 -2px 0 0 #0F4C75,
                 0 -2px 0 #0F4C75;
    margin-top: 10vh;
}

#button-application {
    background: var(--main-color-blue);
    color: white;
    font-size: 2vmax;
    width: max-content;
    margin-top: 15vh;
}

#button-application:hover {
    box-shadow: 0 0 10px black;
    transition: all 0.6s ease;
    transform: scale(1.05);
}

#translate {
    width: 30px;
    height: 30px;
}

#about-us, #services, #client-path {
    background-color: var(--main-color-blue);
    height: max-content;
}

#why-bel, #promotions, #our-contacts {
    background-color: white;
    height: max-content;
}

#why-bel i {
    font-size: 3vmax;
    padding: 1rem 0;
}

#services-table {
    font-size: 1.5vmax !important;
}

/*Classes*/
.progress {
    background-color: #BBE1FA !important;
    height: 7px !important;
    border-bottom: 1px solid black;
}

.header-blue-shadow {
    text-shadow: 3px 3px 0px #377bc3, 4px 4px 0px #000000;
}

.header-white-shadow {
    text-shadow: 3px 3px 0px #f1efef, 4px 4px 0px #000000;
}

.fa-language {
    color: var(--main-color-blue);
    font-size: 37px;
}

.nav-link {
    text-align: center;
    color: var(--main-color-blue);
    text-transform: uppercase;
    font-size: 16pt;
    padding: 0 !important;
}

.text-main-color {
    color: var(--main-color-blue) !important;
}

.bg-main-color {
    background-color: var(--main-color-blue);
}

.border-right-elem {
    border-right: 1px solid;
}

.border-bottom-elm {
    border-bottom: 0;
}

.team-img {
    width: 100%;
}

.service-column-border-x {
    border-left: 2vw solid var(--main-color-blue);
    border-right: 2vw solid var(--main-color-blue);
}


/*Media quarries*/
@media (max-width: 576px) {

    #slogan {
        width: 50vw;
    }

    .border-right-elem {
        border-right: 0px;
    }

    .border-bottom-elm {
        border-bottom: 1px solid;
    }

}

@media (max-width: 1600px) {
    #slogan {
        text-shadow: 1px 1px 0 #0F4C75,
        1px -1px 0 #0F4C75,
        -1px 1px 0 #0F4C75,
        -1px -1px 0 #0F4C75,
        1px 0 0 #0F4C75,
        0 1px 0 #0F4C75,
        -1px 0 0 #0F4C75,
        0 -1px 0 #0F4C75;
    }
}